:root {
    --schriftgröße: 26px;
    --bg_darkblue: rgb(5, 23, 30);
    --bg_lightblue: rgb(8, 32, 41);

    --color_writing: white;

}

* {
    margin: 0;
    font-family: "Caprasimo", sans-serif;
}

.logo {
    max-width: 1000px;
    width: 100vw;
}



.header-section,
.footer-section {
    width: 100%;
    height: 150px;
    background: linear-gradient(207deg, #ff7e5f, #feb47b, #86a8e7);
    background-size: 600% 600%;
    animation: moveGradient 8s ease infinite;
}

.header-section {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.fotogram-logo {
    height: 132px;
    width: 250px;
    padding-left: 75px;

}



.container-logo {
    height: 50px;
    width: 80px;
}

h1 {

    font-size: 63px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-clip: text;
    color: transparent;
}

.fotogram-headline {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

main {
    background: linear-gradient(147deg, #2b2b2b, #bf906c, #747a85);
    display: flex;
    justify-content: center;

}

.column {

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.headline-box {
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.img-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    max-width: 200px;
    border-radius: 21px;
}

.main-section-img {
    padding: 50px;
    min-height: calc(100vh - 400px);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100vw;

}


.column:focus {
    box-shadow: 0px 0px 16px 8px rgba(231, 226, 226, 0.5);
    transform: scale(1.05);
    transition: 0.3s;
    outline: none;
    border-radius: 25px ;
}

.img-container img:hover {

    box-shadow: 0px 0px 16px 8px rgb(231 226 226 / 50%);
    transform: scale(1.05);
    transition: 0.3s;
}

.lightbox-section {

    position: fixed;

    /* background-color: rgba(8, 32, 41, 0.8); */
    background: linear-gradient(147deg, rgba(43, 43, 43, 0.6));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.lightbox-section::backdrop {
    background-color: rgba(43, 43, 43, 0.6);
}

.close-btn {
    height: 40px;
    width: 40px;
    color: #000000;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
}

.close-btn:hover,
.close-btn:focus {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 16px 8px rgb(231 226 226 / 50%);
    transform: scale(1.05);
    transition: 0.3s;
}



.lightbox-main img {
    width: 550px;
    height: 670px;
    object-fit: cover;
    border-radius: 15px;
}

.lightbox-head {
    display: flex;
    width: 550px;
    justify-content: flex-end;
    margin-bottom: 15px;
    align-items: center;
}

.lightbox-head p {
    color: var(--color_writing);
    display: flex;
    width: 550px;
    justify-content: center;

}

.lightbox-footer {
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color_writing);
    margin-top: 15px;
}

.lightbox_outer_box {
    width: 750px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(37 115 145 / 80%); */
    background: linear-gradient(37deg, rgb(43 43 43), rgb(191 144 108), rgb(116 122 133));
    border-radius: 15px;
    font-size: var(--schriftgröße);
}

.button {
    font-size: 35px;
    cursor: pointer;
    user-select: none;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 50px;
    width: 50px;


}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 16px 8px rgb(231 226 226 / 50%);
    transform: scale(1.05);
    transition: 0.3s;

}

#img-counter {
    width: 150px;
    display: flex;
    justify-content: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section img {
    height: 80px;
    padding-top: 14px;
}

.footer-section p {
    padding-top: 5px;
}

@media(max-width: 1024px) {

    .lightbox_outer_box {
        width: 600px;
        height: 800px;
    }

    .lightbox-head {
        width: 450px;
    }

    .close-btn {
        height: 35px;
    }

    .lightbox-main img {
        width: 450px;
        height: 600px;
    }

}

@media(max-width: 744px) {

    h1 {
        font-size: 50px;
    }

    .img-container img {
        width: 170px;
        height: 130px;
    }


}

@media(max-width: 652px) {


    .lightbox_outer_box {
        width: 500px;
        height: 700px;
    }

    .lightbox-head {
        width: 370px;
    }

    .close-btn {
        height: 30px;
    }

    .lightbox-main img {
        width: 370px;
        height: 480px;
    }

}

@media(max-width: 590px) {

    .lightbox_outer_box {
        width: 360px;
        height: 560px;
    }

    .lightbox-head {
        width: 275px;
    }

    .close-btn {
        height: 27px;
    }

    .lightbox-main img {
        width: 275px;
        height: 370px;
    }

    .lightbox-footer {
        width: 370px;
    }
}

@media(max-width: 523px) {

    h1 {
        font-size: 38px;
    }


    .img-container img {
        width: 140px;
        height: 100px;
    }
}

@media(max-width: 425px) {

    .fotogram-headline {
        padding: 25px 0 45px;
    }

    .header-section {
        justify-content: center;

    }

    .fotogram-logo {
        height: 132px;
        width: 200px;
        padding: 0;
    }

    h1 {
        font-size: 30px;
    }

    .img-container img {
        width: 110px;
        height: 78px;

    }

    .main-section-img {
        padding: 0 25px;
    }

    .lightbox_outer_box {
        width: 267px;
        height: 529px;
    }

    .lightbox-head {
        width: 200px;
    }

    .lightbox-main img {
        width: 200px;
        height: 355px;
    }

    .lightbox-footer {
        width: 240px;
    }

    .img-container img {
        width: 120px;
        height: 78px;
    }

    .main-section-img {
        padding-bottom: 25px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }
}